.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-container {
  max-width: 1300px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper > div {
  width: 300px;
  flex-basis: 0;
  flex-grow: 1;
}

.list-container {
  display: flex;
  gap: 0.5rem;
}

/* 출금 데이터 컬러링 */
.ag-row.row-withdraw {
  background-color: rgb(182, 8, 86);
  color: white;
}

/* 헤더 가운데 정렬 */
.ag-header-cell-label {
  justify-content: center;
}
.ant-input-number-group-addon {
  width: 200px !important;
}

.ag-row-selected {
  background-color: #4abbff;
}

.ag-cell-focus {
  border: 1px solid red;
}
.ant-card {
  background-color: #353c48;
}

@media only screen and (max-width: 600px) {
  .card-wrapper .ant-card-body {
    padding: 3px;
  }
  .ant-statistic-content svg {
    width: 16px;
  }
  .ant-statistic-content-value-int {
    font-size: 16px;
  }

  .ant-layout-header {
    overflow: hidden;
  }

  .ag-header-group-cell-label,
  .ag-header-cell-label {
    justify-content: center;
  }

  .ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
    visibility: visible !important;
  }

  .ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
    visibility: visible !important;
  }

  .ant-picker-panels > *:last-child {
    display: none !important;
  }

  .ant-picker-panel-container,
  .ant-picker-footer {
    width: 280px !important;
  }

  .ant-picker-footer-extra > div {
    flex-wrap: wrap !important;
  }
}
