.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-container {
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
}

.list-container {
  display: flex;
  gap: 0.5rem;
}

.ag-header-group-cell-label,
.ag-header-cell-label {
  justify-content: center;
}

.card-container > div {
  width: 300px;
}

.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:last-child {
  display: none !important;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}
